p{
    color: blueviolet;
    font-family: verdana;
}
li{
    color:rgb(33, 97, 97);
    font-family: 'Franklin Gothic Medium';
    
}
h2{
    background: linear-gradient(135deg, #bfd255 0%,#8eb92a 34%,#bfd255 52%,#72aa00 71%,#72aa00 86%,#72aa00 89%,#72aa00 99%,#9ecb2d 100%);
}